body{
    font-family: system-ui,-apple-system, "Segoe UI",
    Roboto,"Noto, Sans Jp", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #939c13;
    background: #3b9c60;
    margin: 0;
}
.container{
    max-width: 600px;
    margin:auto;
    padding: auto;
    background-color: #220949;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main {
    max-width: 720px;
    margin: 32px auto;
    padding:0 16px;
}
h1, h2 {color:#333}
a {color:var(--accent); text-decoration: none;}
a:hover { color: #960f62de;text-decoration: underline; }
img {max-width:100%;height:auto;}

ul { padding-left: 1.25em; }